@define-color background rgb(0, 0, 0);
@define-color background-text rgb(255, 255, 255);

@define-color foreground @background-text;
@define-color foreground-text @background;

window#waybar {
	background: @background;
	color: @background-text;
	
	font-family: FiraCode Nerd Font;
	font-size: 13px;
}

button {
	color: inherit;
	background: inherit;
}

#workspaces button {
	border: inherit;
	border-radius: inherit;
	transition: inherit;
	
	padding: 0 4px;
}

#workspaces button:hover {
	background: alpha(@foreground, 0.25);

	box-shadow: inherit;
	text-shadow: inherit;
}

#workspaces button.active {
	background: @foreground;
	color: @foreground-text;
}

#tray > .passive {
	-gtk-icon-effect: dim;
}

#tray > .needs-attention {
	-gtk-icon-effect: highlight;
}
